/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --clr-primary-100: #dfffe6;
    --clr-primary-500: 293, 19%, 70%;
    /*color hsl*/
    --clr-neutral-100: 278, 33%, 90%;
    --clr-neutral-200: 281, 25%, 33%;
    --clr-neutral-400: #2E1a47;
    --clr-neutral-600: #896391;

    --ff-base: 'Inter', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

/*componentes*/
/*sirve para que no aparezca */
.hidden.hidden {
    display: none;
}

button {
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 2rem;
    cursor: pointer;
    align-self: flex-end;
    background-color: var(--clr-neutral-600);
    color: #fff;
}

.botonEncriptar:hover,
.boton-copiar:hover,
.botonDesencriptar:hover {
    background-color: #c5abe2;
}

/*body*/
body {
    background: linear-gradient(hsl(var(--clr-neutral-200)), var(--clr-neutral-400), hsl(var(--clr-neutral-200)));
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    padding: 1.5rem 1rem;
    display: grid;
}

/*header*/
.logo {
    width: 8rem;
}

/*main*/
.main {
    display: grid;
    margin: 5rem 0 4rem;
}

/*.hero*/
.hero {
    display: grid;
    gap: 1rem;
}

.hero-textarea {
    width: 100%;
    height: calc(300px - 1rem);
    border: none;
    outline: none;
    font-size: 2rem;
    color: hsl(var(--clr-primary-500));
    resize: none;
    background: hsl(var(--clr-neutral-200), .8);
    padding: .5rem;
    max-height: fit-content;
    border-radius: .5rem;
}

.hero-textarea::placeholder {
    color: hsl(var(--clr-primary-500), .8);
}

.hero-textarea:focus {
    outline: 1px solid var(--clr-primary-100);
}

.hero-textarea::selection {
    background: hsl(var(--clr-primary-500));
    color: hsl(var(--clr-neutral-100));
}

.hero-small {
    color: hsl(var(--clr-primary-500));
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero-small::before {
    content: url(/img/exclamation-circle.svg);
    height: 1rem;
}

.hero-botones {
    display: grid;
    gap: 1.5rem;
}

/*mensaje*/
.resultado,
.noresultado {
    display: grid;
    background: linear-gradient(hsl(var(--clr-primary-500)), hsl(var(--clr-neutral-100)));
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 19px 50px -30px var(--clr-neutral-600);
    max-height: 35rem;
}

/*noresultado*/
.noresultado {
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.noresultado-img {
    display: none;
}

.noresultado-titulo {
    font-size: 24px;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-600);
}

.noresultado-texto::selection,
.noresultado-titulo::selection {
    background: var(--clr-neutral-400);
    color: hsl(var(--clr-neutral-100));
}

.noresultado-texto {
    font-size: 16px;
    color: var(--clr-neutral-400);
}

/*resultado*/
.resultado {
    gap: 2rem;
    margin-bottom: 1.5rem;

}

.resultado-texto {
    font-size: 24px;
    text-align: start;
    overflow-y: auto;
    max-height: calc(35rem - 4rem - 67px - 2rem);
}

.resultado-texto::selection {
    background: var(--clr-neutral-400);
    color: hsl(var(--clr-neutral-100));
}

/*scrool*/
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background: hsl(var(--clr-neutral-200));
}

::-webkit-scrollbar-track {
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--clr-neutral-100), .3);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--clr-neutral-100), .6);
}

.hero-textarea::-webkit-scrollbar {
    border-radius: 50px;
}

.resultado-texto::-webkit-scrollbar {
    background: hsl(var(--clr-neutral-100), .25);
    border-radius: .2rem;
}

.resultado-texto::-webkit-scrollbar-thumb {
    background: hsl(var(--clr-neutral-200), .3);
}

.resultado-texto::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--clr-neutral-200), .4);
}

/*footer*/
footer {
    margin-top: -4rem;
}

/* botonEncriptar*/
.wrapper {
    position: relative;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.active .btn,
.btn:hover {
    outline: 3px solid #0561ee;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform 0.5s;
    transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-65px);
}

.wrapper.active .item:nth-child(2) {
    transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
    transform: translateX(65px);
}

.link:hover {
    color: #fff;
    transition: background-color 0.5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.tw:hover {
    background-color: #1da1f2;
}

.sc:hover {
    background-color: #707070;
    color: inherit;
}

.wrapper-texto {
    margin-left: 8rem;
    margin-top: 1.4rem;
    color: #fff;
}

/*table*/

@media screen and (min-width:500px) {
    body {
        padding: 4.6rem 2.5rem 0;
    }

    .main {
        display: grid;
        margin: 7.5rem 0 4rem;
    }

    .hero-textarea {
        height: 100%;
    }

    .hero-botones {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    body {
        grid-template-columns: auto 400px;
        grid-template-rows: 48px auto;
        gap: 5rem;
        padding: 2.5rem 2.5rem 0 5.25rem;
    }

    .header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main {
        max-width: 900px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        padding-bottom: 0rem 0 2rem 0em;
        align-items: start;
    }

    .mensaje {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .noresultado,
    .resultado {
        max-height: none;
        height: 48.3rem;
        margin: 0;
        display: grid;
        align-content: center;
        margin-bottom: 2.5rem;
    }

    .resultado {
        align-content: space-between;
    }

    .resultado-texto {
        max-height: none;
        height: 100%;
    }

    .noresultado {
        height: calc(100% - 2rem);
    }

    .noresultado-img {
        display: block;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1700px) {
    body {
        justify-content: center;
        max-height: 1200px;
    }
}

@media screen and (min-height: 960px) {
    body {
        align-content: center;
    }
}